<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- load title and seo description -->
  <title>Уроки игры на гитаре</title>
  <meta name="description" content="Лучший репититор игры на гитаре в Воронеже">

  <!-- load source favicon via Webpack alias '@images' -->
  <link rel="apple-touch-icon" sizes="180x180" href="@images/guitar/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="@images/guitar/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="@images/guitar/favicon/favicon-16x16.png">
  <link rel="mask-icon" href="@images/guitar/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <!-- inline source style from local directory -->
  <link href="style.scss?inline" rel="stylesheet">
  <!-- load global source script via Webpack alias '@scripts' -->
  <script src="@scripts/common.js" defer="defer"></script>
</head>
<body>
  <h1>404</h1>
  <h2>Page Not Found</h2>
  <p>
    <a href="index.html">Go Home</a>
  </p>
</body>
</html>
